{
  "plugins": [
      "prettier",
      "security",
      "mongodb"
  ],
  "extends": [
      "airbnb-base",
  "plugin:prettier/recommended",
  "plugin:security/recommended"
  ],
  "rules" : {
      "prettier/prettier": ["error", {
        "singleQuote": true,
        "trailingComma": "all",
        "arrowParens": "always"
      }],
      "no-console" : "off",
      "no-underscore-dangle": "off",
      "consistent-return": "off",
      "no-useless-escape": "off"
  }
}
